@import url(../abstracts/_mixins.scss);

.section-title-cyan {
    @include font-style(20px, 600, $color-cyan);
    @media (min-width: 768px){
        font-size: 30px;
    }
}


// background
.bg-light-gray {
    background-color: #f5f9fa;
}

.bg-light-gray-2 {
    background-color: #f1f1f1;
}

.bg-cyan {
    background-color: $color-cyan;
}


// border-radius
.border-radius-0 {
    border-radius: 0;
}


// color
.text-cyan {
    color: $color-cyan;
}
.text-black {
    color: $color-black;
}
.text-pink {
    color: $color-pink;
}


// font-weight
.fw-600{
    font-weight: 600;
}