@import url(../abstracts/_mixins.scss);



.add-setting{
    .bg-pink{background: #b367c9;}
    .bg-gray{background: #4d493c;}
    .bg-green{background: #76bd5d;}
    .bg-blue{background: #59a8ea;}


    &--card{
        border-top: 1px solid #dbdcd7;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0px 0px 5.52px 0.48px rgba(0, 0, 0, 0.09);

        .card-header{
            .icon{
                width: 20px;
                @media (min-width: 768px){
                    width: 30px;
                }
            }
            .card-header-title{
                @include font-style(19px, 600, $color-white);
                @media (min-width: 768px){
                    font-size: 30px;
                }
                .badge{
                    border-radius: 0;
                    background: #fff296;
                    @include font-style(13px, 500, #5e5f5b);
                    @media (min-width: 768px){
                        font-size: 20px;
                    }
                }
            }
            .card-header-sub-title{
                @include font-style(13px, 400, $color-white);
                @media (min-width: 768px){
                    font-size: 20px;
                }

                strong{
                    font-size: 14px;
                    font-weight: 700;
                    @media (min-width: 768px){
                        font-size: 22px;
                    }
                }
            }
        }

        .card-body{
            .close-description{
                @include font-style(12px, 400, #5e5f5b);
                @media (min-width: 768px){
                    font-size: 16px;
                }

                strong{
                    font-size: 14px;
                    @media (min-width: 768px){
                        font-size: 18px;
                    }
                }
            }

            .add-setting-details-btn{
                @include font-style(13px, 600, $color-white);
                border-radius: 7px;
                white-space: nowrap;
                @media (min-width: 768px){
                    font-size: 21px;
                }
            }
        }

        //############# main page start #############
        &.main-page {
            .day-select {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                min-height: 100px;
                @include widget-box;
                @media (min-width: 768px){
                    min-height: 150px;
                }

                &.remove-btn{
                    border-color: $color-cyan;
                    border-top-width: 1px;
                    border-bottom-width: 5px;
                    box-shadow: 0px 0px 5.52px 0.48px rgba(0, 0, 0, 0.2);
                }

                i,
                .day,
                .price{
                    @include font-style(16px, 600, #73726f);
                    @media (min-width: 768px){
                        font-size: 22px;
                    }
                }
            }
        }
        //############# End of main page #############


         //############# page-1 start #############
         &.page-1{
             .page-1-title{
                @include font-style(14px, 500, #4d493c);
                @media (min-width: 768px){
                    font-size: 20px;
                }
             }
             .item-select{
                 padding: 10px 10px;
                 border-radius: 5px;
                 box-shadow: 0px 0px 5.52px 0.48px rgba(0, 0, 0, 0.13);
                 display: grid;
                 place-items: center;
                 @include font-style(13px, 600, #898b83);
                 @media (min-width: 768px){
                     font-size: 20px;
                     padding: 15px 20px;
                 }

                 &.active {
                     color: $color-cyan;
                 }
             }
         }
        //############# End of page-1 #############
    }
}

.Rounded_Rectangle_7 {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5.52px 0.48px rgba(0, 0, 0, 0.13);
    position: absolute;
    left: 303px;
    top: 686px;
    width: 42px;
    height: 38px;
    z-index: 128;
  }
  