@import url(../abstracts/_mixins.scss);

.business-advertising {
    background: url(../images/Sponsor-Logo/Map.png) no-repeat center center/cover;
    text-align: center;
    padding: 60px 0;
    @media (min-width: 768px){
        padding-top: 120px;
    }

    &--title {
        @include font-style(48px, 600, $color-cyan);
        line-height: 48px;
        padding-bottom: 60px;
        white-space: pre-line;
        @media (max-width: 767px){
           font-size: 36px;
           line-height: 36px;
        }
    }

    .sponsor-logo-tab {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        grid-gap: 20px;
    }
    .sponsor-logo-mobile {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        grid-gap: 30px;
    }

    a {
        @include font-style(24px, 600, $color-black);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 60px;
        @media (min-width: 768px){
            font-size: 30px;
        }

        i {
            padding-left: 5px;
        }
    }
}