/*=== abstracts css start === */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/*===// end of abstracts css === */
/*=== base css start === */
@import url(../abstracts/_mixins.scss);
@import url(../abstracts/_mixins.scss);
@import url(../abstracts/_mixins.scss);
@import url(../abstracts/_mixins.scss);
@import url(../abstracts/_mixins.scss);
@import url(../abstracts/_mixins.scss);
@import url(../abstracts/_mixins.scss);
@import url(../abstracts/_mixins.scss);
@import url(../abstracts/_mixins.scss);
@import url(../abstracts/_mixins.scss);
@import url(../abstracts/_mixins.scss);
@import url(../abstracts/_mixins.scss);
@import url(../abstracts/_mixins.scss);
@import url(../abstracts/_mixins.scss);
@import url(../abstracts/_mixins.scss);
@import url(../abstracts/_mixins.scss);
@import url(../abstracts/_mixins.scss);
@import url(../abstracts/_mixins.scss);
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #000;
  max-width: 991px;
  margin: auto;
}

.section-title-cyan {
  font-size: 20px;
  font-weight: 600;
  color: #006f85;
}

@media (min-width: 768px) {
  .section-title-cyan {
    font-size: 30px;
  }
}

.bg-light-gray {
  background-color: #f5f9fa;
}

.border-radius-0 {
  border-radius: 0;
}

.text-cyan {
  color: #006f85;
}

/*===// end of base css === */
/*=== layouts css start === */
@media (min-width: 768px) {
  .navbar .nav-link {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

.navbar .nav-link i {
  font-size: 50px;
  color: #000;
}

@media (max-width: 767px) {
  .navbar .navbar-brand {
    max-width: 150px;
  }
  .navbar.navbar-expand .navbar-nav .nav-link {
    padding-right: 0;
  }
  .navbar.navbar-expand .navbar-nav .nav-link img {
    width: 80%;
    min-width: 30px;
  }
}

.navbar .dropdown .dropdown-toggle {
  font-size: 30px;
  font-weight: 500;
  color: #000;
}

@media (max-width: 767px) {
  .navbar .dropdown .dropdown-toggle {
    font-size: 20px;
  }
}

.navbar .dropdown .dropdown-toggle::after {
  vertical-align: 0.1em;
}

.footer {
  background: #fff url(../images/footer-BG.png) no-repeat bottom center/cover;
  padding-top: 40px;
}

@media (max-width: 767px) {
  .footer {
    background: #fff url(../images/footer-BG-mobile.png) no-repeat bottom center/cover;
  }
}

.footer .footer-description {
  font-size: 18px;
  font-weight: 300;
  color: #000;
  line-height: 30px;
  margin: 40px 0;
}

@media (min-width: 768px) {
  .footer .footer-description {
    font-size: 25px;
    line-height: 35px;
  }
}

.footer .link-heading {
  font-size: 22px;
  font-weight: 600;
  color: #000;
  border-bottom: 1px solid #000;
  display: inline-block;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .footer .link-heading {
    font-size: 35px;
  }
}

.footer ul {
  margin-bottom: 30px;
}

.footer ul .footer-link {
  font-size: 18px;
  font-weight: 300;
  color: #000;
  margin: 5px 0;
  display: inline-block;
}

.footer ul .footer-link:hover {
  opacity: .8;
}

@media (min-width: 768px) {
  .footer ul .footer-link {
    font-size: 30px;
    margin: 10px 0;
  }
}

.footer ul.pink .footer-link {
  color: #962582;
}

.footer ul.pink .footer-link i {
  padding-right: 10px;
}

.footer ul.cyan .footer-link {
  color: #006f85;
}

.footer ul.cyan .footer-link i {
  padding-right: 5px;
}

.footer .btn.outline-info {
  font-size: 18px;
  font-weight: 500;
  color: #006f85;
  border: 1px solid #006f85;
  border-radius: 25px;
}

@media (max-width: 767px) {
  .footer .btn.outline-info {
    width: 100%;
  }
}

.footer .copyright {
  font-size: 22px;
  font-weight: 300;
  color: #000;
  text-align: center;
  background: rgba(0, 111, 133, 0.07);
  padding: 30px 0 20px 0;
}

@media (max-width: 767px) {
  .footer .copyright {
    background: rgba(0, 111, 133, 0.14);
  }
}

/*===// end of layouts css === */
/*=== components css start === */
.btn-cyan {
  background-color: #006f85;
  color: #fff;
}

.btn-cyan:hover {
  background-color: #005a6c;
  color: #fff;
}

.filter {
  background: #f5f9fa;
  padding: 1rem 0;
}

.filter .form-floating label {
  font-size: 16px;
  font-weight: 600;
  color: #585c56;
}

@media (min-width: 768px) {
  .filter .form-floating label {
    font-size: 22px;
    line-height: 1;
  }
}

.filter .form-floating .form-control {
  border-color: #c2c7be;
}

.filter .btn {
  font-size: 16px;
  font-weight: 600;
  color: #585c56;
  padding: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .filter .btn {
    font-size: 22px;
  }
}

.filter .btn i {
  font-size: 25px;
}

.filter .btn.btn-light {
  background: #eef3f4;
  border-color: #c2c7be;
}

.filter .btn.btn-secondary {
  background: #5f605d;
  color: #fff;
}

.sponsore {
  background: #f5f9fa;
  padding: 1rem 0;
  border-top: 1px solid #d2d2d1;
  border-bottom: 1px solid #d2d2d1;
}

.sponsore ul li {
  font-size: 16px;
  font-weight: 600;
  color: #006f85;
  margin: 0.3rem;
}

@media (min-width: 768px) {
  .sponsore ul li {
    font-size: 22px;
  }
}

.sponsore ul li.vr {
  width: 2px;
  opacity: 1;
  background: #006f85;
}

.sponsore ul li:first-child {
  color: #fff;
  background: #006f85;
  cursor: default;
  border-radius: 10px;
  text-transform: uppercase;
}

.card-item {
  background: #f5f9fa;
}

.card-item .heading {
  font-size: 16px;
  font-weight: 600;
  color: #585c56;
  padding: 2rem 0;
}

@media (min-width: 768px) {
  .card-item .heading {
    font-size: 22px;
  }
}

.card-item .card-title {
  font-size: 14px;
  font-weight: 700;
  color: #343432;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (min-width: 768px) {
  .card-item .card-title {
    font-size: 20px;
  }
}

.card-item .card-sub-title {
  font-size: 12px;
  font-weight: 500;
  color: #a9a9a9;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (min-width: 768px) {
  .card-item .card-sub-title {
    font-size: 15px;
  }
}

.card-item .card-horizontal {
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 7.36px 0.64px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 7.36px 0.64px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  margin-bottom: 15px;
}

.card-item .card-horizontal .thumbnail-img {
  width: 165px;
}

@media (max-width: 767px) {
  .card-item .card-horizontal .thumbnail-img {
    width: 100px;
  }
}

.card-item .card-horizontal .icon {
  font-size: 18px;
  font-weight: 600;
  color: #5f605d;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .card-item .card-horizontal .icon {
    font-size: 30px;
  }
}

.card-item .card-horizontal .text {
  padding: 1rem;
}

.card-item .card-horizontal.card-horizontal-sm .thumbnail-img {
  width: 100px;
}

@media (max-width: 767px) {
  .card-item .card-horizontal.card-horizontal-sm .thumbnail-img {
    width: 70px;
  }
}

.card-item .card-horizontal.card-horizontal-sm .card-title {
  -webkit-line-clamp: 1;
}

@media (max-width: 767px) {
  .card-item .card-horizontal.card-horizontal-sm .card-title {
    margin-bottom: .2rem;
  }
}

.card-item .card-vertical {
  border: none;
  -webkit-box-shadow: 0px 0px 7.36px 0.64px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 7.36px 0.64px rgba(0, 0, 0, 0.05);
  height: 100%;
  border-radius: 8px;
}

.card-item .card-vertical .card-img-overlay {
  padding: 0;
  display: -ms-grid;
  display: grid;
  place-items: end;
}

.card-item .card-vertical .card-img-overlay .icon {
  background: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 600;
  color: #5f605d;
  padding: 0.5rem 1rem;
  border-top-left-radius: 8px;
}

@media (min-width: 768px) {
  .card-item .card-vertical .card-img-overlay .icon {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .card-item .card-vertical .card-body {
    padding: 1.5rem;
  }
}

.business-advertising {
  background: url(../images/Sponsor-Logo/Map.png) no-repeat center center/cover;
  text-align: center;
  padding: 60px 0;
}

@media (min-width: 768px) {
  .business-advertising {
    padding-top: 120px;
  }
}

.business-advertising .sponsor-logo-tab {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  grid-gap: 20px;
}

.business-advertising .sponsor-logo-mobile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  grid-gap: 30px;
}

.business-advertising a {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  display: inline-block;
  padding-top: 60px;
}

@media (min-width: 768px) {
  .business-advertising a {
    font-size: 30px;
  }
}

.top-action {
  background: #f5f9fa;
  border-top: 2px solid #5f605d;
  border-bottom: 2px solid #5f605d;
}

.top-action .btn {
  font-size: 24px;
  font-weight: unset;
  color: #5f605e;
  height: 100%;
  display: block;
  border-radius: 0;
}

.top-action .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.top-action .btn.border-end {
  border-right: 1px solid #5f605d !important;
}

.top-action .btn.border-start {
  border-left: 1px solid #5f605d !important;
}

@media (min-width: 768px) {
  .top-action .btn {
    font-size: 36px;
  }
}

.top-action .text {
  padding: 10px 20px;
}

.top-action .text .title {
  font-size: 16px;
  font-weight: 700;
  color: #343432;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.top-action .text .sub-title {
  font-size: 11px;
  font-weight: 500;
  color: #a9a9a9;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (min-width: 768px) {
  .top-action .text {
    padding: 20px 30px;
  }
  .top-action .text .title {
    font-size: 22px;
  }
  .top-action .text .sub-title {
    font-size: 16px;
  }
}

.organizer-location .card {
  border: none;
  -webkit-box-shadow: 0px 0px 7.36px 0.64px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 7.36px 0.64px rgba(0, 0, 0, 0.16);
}

.organizer-location .card p {
  font-size: 12px;
  font-weight: 500;
  color: #989994;
}

@media (min-width: 768px) {
  .organizer-location .card p {
    font-size: 17px;
  }
}

.post-details {
  background: #f5f9fa;
}

.post-details .banner {
  margin-top: 15px;
  border-radius: 15px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .post-details .banner {
    margin-top: 20px;
  }
}

.post-details .banner .swiper-button-next,
.post-details .banner .swiper-button-prev {
  color: #5f605e;
  width: 50px;
  height: 75px;
  background: #fff;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .post-details .banner .swiper-button-next,
  .post-details .banner .swiper-button-prev {
    width: 80px;
    height: 120px;
  }
}

.post-details .banner .swiper-button-next {
  margin-right: -15px;
}

.post-details .banner .swiper-button-prev {
  margin-left: -15px;
}

.post-details .banner .pagination {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: #5f605e;
  padding: 10px;
  border-bottom-left-radius: 10px;
}

@media (min-width: 768px) {
  .post-details .banner .pagination {
    font-size: 24px;
  }
}

.post-details .banner .user-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: #5f605e;
  padding: 10px;
  border-bottom-right-radius: 10px;
}

@media (min-width: 768px) {
  .post-details .banner .user-icon {
    font-size: 24px;
  }
}

.post-details .video-picture .card {
  border-color: transparent;
  -webkit-box-shadow: 0px 0px 5.52px 0.48px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 0px 5.52px 0.48px rgba(0, 0, 0, 0.29);
  padding: 15px;
  height: 100%;
}

.post-details .video-picture .card .heading {
  font-size: 16px;
  font-weight: 600;
  color: #5f605e;
  margin-bottom: 20px;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .post-details .video-picture .card .heading {
    font-size: 24px;
  }
}

.post-details .video-picture .video {
  width: 30%;
  margin-right: 15px;
}

@media (min-width: 576px) {
  .post-details .video-picture .video {
    margin-right: 30px;
  }
  .post-details .video-picture .video .card {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
}

.post-details .video-picture .picture {
  width: 70%;
}

.post-details .video-picture .picture img {
  border: 1px solid #242122;
  border-radius: 4px;
}

.post-details .profile .card {
  border: none;
  -webkit-box-shadow: 0px 0px 7.36px 0.64px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 7.36px 0.64px rgba(0, 0, 0, 0.16);
}

.post-details .profile .card .profile-info label {
  font-size: 14px;
  font-weight: 400;
  color: #5f605e;
}

@media (min-width: 768px) {
  .post-details .profile .card .profile-info label {
    font-size: 22px;
  }
}

.post-details .profile .card .profile-info h2 {
  font-size: 16px;
  font-weight: 700;
  color: #343432;
}

.post-details .profile .card .profile-info h2.text-pink {
  color: #872576;
}

@media (min-width: 768px) {
  .post-details .profile .card .profile-info h2 {
    font-size: 24px;
  }
}

.post-details .profile .card .btn {
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  display: block;
  padding: 1.2rem;
  height: 100%;
  -webkit-box-shadow: 0px 0px 5.52px 0.48px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 0px 5.52px 0.48px rgba(0, 0, 0, 0.29);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media (min-width: 768px) {
  .post-details .profile .card .btn {
    font-size: 24px;
  }
}

.post-details .profile .card .btn.btn-warning {
  background: #fdb934;
  color: #fff;
}

.post-details .profile .card .btn.btn-info {
  background: #00768a;
  color: #fff;
}

.post-details .profile .card .btn.btn-light {
  background: #eff1ec;
  color: #5f605e;
}

.post-details .profile .card .btn:hover {
  opacity: 0.9;
}

.post-details .profile .profile-description .title {
  font-size: 19px;
  font-weight: 600;
  color: #5f605e;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .post-details .profile .profile-description .title {
    font-size: 30px;
  }
}

.post-details .profile .profile-description .description {
  font-size: 12px;
  font-weight: 400;
  color: #5f605e;
}

@media (min-width: 768px) {
  .post-details .profile .profile-description .description {
    font-size: 18px;
  }
}

.post-details .profile .profile-description .btn-light {
  font-size: 14px;
  font-weight: 500;
  color: #5f605e;
}

@media (min-width: 768px) {
  .post-details .profile .profile-description .btn-light {
    font-size: 20px;
  }
}

.top-pagination .pagination {
  -webkit-box-shadow: 0px 0px 5.52px 0.48px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 0px 5.52px 0.48px rgba(0, 0, 0, 0.09);
}

.top-pagination .pagination .page-item {
  width: 100%;
  -webkit-filter: drop-shadow(0px 3px 5.52px rgba(0, 0, 0, 0.14));
          filter: drop-shadow(0px 3px 5.52px rgba(0, 0, 0, 0.14));
  margin-left: -5%;
  position: relative;
}

.top-pagination .pagination .page-item:nth-child(1) {
  z-index: 6;
  margin-left: 0;
}

.top-pagination .pagination .page-item:nth-child(2) {
  z-index: 5;
}

.top-pagination .pagination .page-item:nth-child(3) {
  z-index: 4;
}

.top-pagination .pagination .page-item:nth-child(4) {
  z-index: 3;
}

.top-pagination .pagination .page-item:nth-child(5) {
  z-index: 2;
}

.top-pagination .pagination .page-item:nth-child(6) {
  z-index: 1;
}

.top-pagination .pagination .page-item .page-link {
  padding: 1rem;
  background: #f2f3ee;
  border: none;
  -webkit-clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 0 50%, 0% 0%);
          clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 0 50%, 0% 0%);
}

@media (max-width: 767px) {
  .top-pagination .pagination .page-item .page-link {
    padding: 0.5rem;
  }
}

.top-pagination .pagination .page-item .page-link span {
  background: #b9bab5;
  padding: 0rem;
  width: 40px;
  height: 40px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 26px;
  font-weight: 500;
  color: #fff;
}

@media (max-width: 767px) {
  .top-pagination .pagination .page-item .page-link span {
    font-size: 16px;
    width: 25px;
    height: 25px;
  }
}

.top-pagination .pagination .page-item.active {
  -webkit-filter: drop-shadow(0px 3px 5.52px 0.48px rgba(0, 0, 0, 0.14));
          filter: drop-shadow(0px 3px 5.52px 0.48px rgba(0, 0, 0, 0.14));
}

.top-pagination .pagination .page-item.active .page-link {
  background: #fff;
}

.top-pagination .pagination .page-item.active .page-link span {
  background: #61605c;
}

.top-pagination .btn {
  background: #006f85;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
}

@media (min-width: 768px) {
  .top-pagination .btn {
    padding: .75rem .75rem;
    font-size: 20px;
  }
}

.select-category .category-item {
  text-align: center;
}

.select-category .category-item a {
  overflow: hidden;
}

.select-category .category-item img {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.select-category .category-item .text {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  position: absolute;
  text-shadow: 6px 0px 16px rgba(0, 0, 0, 0.38);
  width: 100%;
  bottom: 7.5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

@media (min-width: 768px) {
  .select-category .category-item .text {
    font-size: 20px;
  }
}

.select-category .category-item:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.seleted-category .card {
  -webkit-box-shadow: 0px 0px 5.52px 0.48px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 0px 5.52px 0.48px rgba(0, 0, 0, 0.09);
}

.seleted-category .card .selected-category-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .seleted-category .card .selected-category-img {
    width: 60px;
    height: 60px;
  }
}

.seleted-category .card h2 {
  font-size: 16px;
  font-weight: 600;
  color: #61605c;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .seleted-category .card h2 {
    font-size: 20px;
  }
}

.seleted-category .card i {
  color: #6ebf31;
  font-size: 20px;
  margin-left: 10px;
}

.selete-area li {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: relative;
}

.selete-area li a {
  font-size: 16px;
  font-weight: 500;
  color: #acacac;
  display: block;
}

@media (min-width: 768px) {
  .selete-area li a {
    font-size: 20px;
    padding: 0.5rem 0;
  }
}

.selete-area li a .badge {
  background: #acacac;
}

.selete-area li:hover {
  background-color: #006f85;
}

.selete-area li:hover a {
  color: #fff;
}

.selete-area li:hover a .badge {
  background: #fff;
  color: #006f85;
}

.selete-area li:first-child {
  background-color: #fff;
}

.price-list .list-group .list-group-item {
  min-height: 65px;
}

@media (min-width: 768px) {
  .price-list .list-group .list-group-item {
    min-height: 85px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.price-list .list-group .list-group-item .item {
  font-size: 14px;
  font-weight: 600;
  color: #5e5f5b;
}

@media (min-width: 768px) {
  .price-list .list-group .list-group-item .item {
    font-size: 18px;
  }
}

.price-list .list-group .list-group-item .item span {
  font-size: 12px;
  font-weight: 400;
  color: #5e5f5b;
}

@media (min-width: 768px) {
  .price-list .list-group .list-group-item .item span {
    font-size: 16px;
  }
}

.price-list .list-group .list-group-item .price {
  font-size: 14px;
  font-weight: 600;
  color: #898b83;
}

@media (min-width: 768px) {
  .price-list .list-group .list-group-item .price {
    font-size: 21px;
  }
}

.price-list .list-group .list-group-item.grand-total {
  background: #5c5c5c;
}

.price-list .list-group .list-group-item.grand-total .item, .price-list .list-group .list-group-item.grand-total .price {
  color: #fff;
}

.price-list .price-list-footer {
  background: #fff;
  border: 1px solid #dbdcd7;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5.52px 0.48px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 0px 5.52px 0.48px rgba(0, 0, 0, 0.09);
}

.price-list .price-list-footer--title {
  font-size: 14px;
  font-weight: 600;
  color: #5e5f5b;
}

@media (min-width: 768px) {
  .price-list .price-list-footer--title {
    font-size: 18px;
  }
}

.price-list .price-list-footer--description {
  font-size: 12px;
  font-weight: 400;
  color: #5e5f5b;
}

@media (min-width: 768px) {
  .price-list .price-list-footer--description {
    font-size: 16px;
  }
}

.price-list .price-list-footer--contect-us-btn {
  font-size: 14px;
  font-weight: 600;
  color: #006f85;
}

@media (min-width: 768px) {
  .price-list .price-list-footer--contect-us-btn {
    font-size: 18px;
  }
}

.add-media .add-media-card {
  background: #006f85;
  border-radius: 5px;
  text-align: center;
  padding: 1rem 0.3rem;
  height: 100%;
}

.add-media .add-media-card .heading {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

@media (min-width: 768px) {
  .add-media .add-media-card .heading {
    font-size: 30px;
  }
}

@media (max-width: 475px) {
  .add-media .add-media-card .heading {
    font-size: 14px;
  }
}

.add-media .add-media-card .item-left {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

@media (min-width: 768px) {
  .add-media .add-media-card .item-left {
    font-size: 20px;
  }
}

@media (max-width: 475px) {
  .add-media .add-media-card .item-left {
    font-size: 12px;
  }
}

.create-add-form label {
  font-size: 16px;
  font-weight: 600;
  color: #006f85;
  margin-bottom: 5x;
}

.create-add-form label .label-indication {
  font-size: 12px;
  font-weight: 400;
  color: #b7b8b3;
}

.create-add-form .form-select,
.create-add-form .form-control {
  font-size: 13px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dbdcd7;
  -webkit-box-shadow: 0px 0px 5.52px 0.48px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 0px 5.52px 0.48px rgba(0, 0, 0, 0.09);
}

.create-add-form .form-select::-webkit-input-placeholder,
.create-add-form .form-control::-webkit-input-placeholder {
  color: #aaaca8;
}

.create-add-form .form-select:-ms-input-placeholder,
.create-add-form .form-control:-ms-input-placeholder {
  color: #aaaca8;
}

.create-add-form .form-select::-ms-input-placeholder,
.create-add-form .form-control::-ms-input-placeholder {
  color: #aaaca8;
}

.create-add-form .form-select::placeholder,
.create-add-form .form-control::placeholder {
  color: #aaaca8;
}

.create-add-form .error-message {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  background-color: #fe8358;
  border: 1px solid #b7b8b3;
  border-radius: 3px;
  padding: 2px 10px;
  margin-top: 10px;
}

.create-add-form .error-message i {
  padding-right: 10px;
}

.create-add-form--heading-1 {
  font-size: 18px;
  font-weight: 600;
  color: #585757;
}

.create-add-form--heading-2 {
  font-size: 15px;
  font-weight: 600;
  color: #585757;
}

.create-add-form--description-muted {
  font-size: 12px;
  font-weight: 400;
  color: #585757;
}

.create-add-form .badge-muted {
  background: #b7b8b3;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 0;
  text-transform: uppercase;
}

.create-add-form .range-result {
  background: #f0f0f0;
  border: 1px solid #b7b8b3;
  font-size: 10px;
  font-weight: 400;
  color: #666762;
  border-radius: 6px;
  padding: 7.5px 10px;
  margin-left: -1px;
  white-space: nowrap;
}

.create-add-form .ck-editor__editable {
  min-height: 250px;
}

.create-add-form .ck-editor {
  -webkit-box-shadow: 0px 0px 5.52px 0.48px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 0px 5.52px 0.48px rgba(0, 0, 0, 0.09);
}

.create-add-form #myRange {
  height: 15px;
  outline: none;
  background-color: #fff;
  border: 1px solid #b7b8b3;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-appearance: none;
}

.create-add-form input[type='range']::-webkit-slider-thumb {
  width: 15px;
  height: 40px;
  -webkit-appearance: none;
  background: #f0f0f0;
  border: 1px solid #b7b8b3;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .create-add-form label {
    font-size: 24px;
  }
  .create-add-form label .label-indication {
    font-size: 18px;
  }
  .create-add-form .form-select,
  .create-add-form .form-control {
    font-size: 20px;
    padding: 15px;
  }
  .create-add-form .error-message {
    font-size: 18px;
  }
  .create-add-form .next-prev-btn .btn {
    font-size: 55px;
  }
  .create-add-form--heading-1 {
    font-size: 30px;
    font-weight: 600;
    color: #585757;
  }
  .create-add-form--heading-2 {
    font-size: 22px;
    font-weight: 600;
    color: #585757;
  }
  .create-add-form--description-muted {
    font-size: 20px;
    font-weight: 400;
    color: #585757;
  }
  .create-add-form .badge-muted {
    font-size: 16px;
  }
  .create-add-form .range-result {
    font-size: 15px;
    padding: 10px 15px;
  }
}

.create-add-summary .add-summary-card {
  background: #fff;
  border: 1px solid #dbdcd7;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5.52px 0.48px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 0px 5.52px 0.48px rgba(0, 0, 0, 0.09);
}

.create-add-summary .add-summary-card .thumbnail-img {
  width: 60px;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .create-add-summary .add-summary-card .thumbnail-img {
    width: 90px;
  }
}

.create-add-summary .add-summary-card .add-summary-heading {
  font-size: 18px;
  font-weight: 600;
  color: #006f85;
}

@media (min-width: 768px) {
  .create-add-summary .add-summary-card .add-summary-heading {
    font-size: 26px;
  }
}

.create-add-summary .add-summary-card .add-summary-description {
  font-size: 12px;
  font-weight: 400;
  color: #71716d;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (min-width: 768px) {
  .create-add-summary .add-summary-card .add-summary-description {
    font-size: 16px;
  }
}

.next-prev-btn .btn {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  white-space: nowrap;
}

.next-prev-btn .btn.btn-next {
  background-color: #006f85;
  border: 2px solid #006f85;
}

.next-prev-btn .btn.btn-prev {
  background-color: #efefeb;
  border: 2px solid #b7b8b3;
  color: #7d7d7d;
}

.next-prev-btn .error-message-btn {
  background-color: #c85128;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  bottom: calc(100% + 10px);
}

.next-prev-btn .error-message-btn::after {
  content: '';
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top: 15px solid #c85128;
  border-bottom: 0;
  position: absolute;
  top: 100%;
  right: 50px;
}

.add-tip .add-tip-card {
  background: #fdb933;
  border: 1px solid #dbdcd7;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5.52px 0.48px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 0px 5.52px 0.48px rgba(0, 0, 0, 0.09);
}

.add-tip .add-tip-card .add-tip-heading-1 {
  font-size: 24px;
  font-weight: 700;
  color: #006f85;
}

@media (min-width: 768px) {
  .add-tip .add-tip-card .add-tip-heading-1 {
    font-size: 30px;
  }
}

.add-tip .add-tip-card .add-tip-heading-2 {
  font-size: 16px;
  font-weight: 600;
  color: #006f85;
}

@media (min-width: 768px) {
  .add-tip .add-tip-card .add-tip-heading-2 {
    font-size: 24px;
  }
}

.add-tip .add-tip-card .add-tip-description {
  font-size: 12px;
  font-weight: 400;
  color: #5e5f5b;
}

@media (min-width: 768px) {
  .add-tip .add-tip-card .add-tip-description {
    font-size: 16px;
  }
}

.add-tip .add-tip-card .add-tip-description strong {
  font-size: 14px;
}

@media (min-width: 768px) {
  .add-tip .add-tip-card .add-tip-description strong {
    font-size: 20px;
  }
}

.add-setting .bg-pink {
  background: #b367c9;
}

.add-setting .bg-gray {
  background: #4d493c;
}

.add-setting .bg-green {
  background: #76bd5d;
}

.add-setting .bg-blue {
  background: #59a8ea;
}

.add-setting--card {
  border-top: 1px solid #dbdcd7;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 5.52px 0.48px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 0px 5.52px 0.48px rgba(0, 0, 0, 0.09);
}

.add-setting--card .card-header .icon {
  width: 20px;
}

@media (min-width: 768px) {
  .add-setting--card .card-header .icon {
    width: 30px;
  }
}

.add-setting--card .card-header .card-header-title {
  font-size: 19px;
  font-weight: 600;
  color: #fff;
}

@media (min-width: 768px) {
  .add-setting--card .card-header .card-header-title {
    font-size: 30px;
  }
}

.add-setting--card .card-header .card-header-title .badge {
  border-radius: 0;
  background: #fff296;
  font-size: 13px;
  font-weight: 500;
  color: #5e5f5b;
}

@media (min-width: 768px) {
  .add-setting--card .card-header .card-header-title .badge {
    font-size: 20px;
  }
}

.add-setting--card .card-header .card-header-sub-title {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}

@media (min-width: 768px) {
  .add-setting--card .card-header .card-header-sub-title {
    font-size: 20px;
  }
}

.add-setting--card .card-header .card-header-sub-title strong {
  font-size: 14px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .add-setting--card .card-header .card-header-sub-title strong {
    font-size: 22px;
  }
}

.add-setting--card .card-body .close-description {
  font-size: 12px;
  font-weight: 400;
  color: #5e5f5b;
}

@media (min-width: 768px) {
  .add-setting--card .card-body .close-description {
    font-size: 16px;
  }
}

.add-setting--card .card-body .close-description strong {
  font-size: 14px;
}

@media (min-width: 768px) {
  .add-setting--card .card-body .close-description strong {
    font-size: 18px;
  }
}

.add-setting--card .card-body .add-setting-details-btn {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  border-radius: 7px;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .add-setting--card .card-body .add-setting-details-btn {
    font-size: 21px;
  }
}

/*===// end of components css === */
/*=== pages start === */
/*===// end of pages  === */
/*# sourceMappingURL=style.css.map */